:root {
    /* Principales */
    --color-fuente: #F0F0F0;
    --color-fondo: #2C3639;
    /* Paleta de colores */
    --color-red: #F45050;
    --color-blue: #4F709C;
    --color-green: #03C988;
    --color-yellow: #F9D949;
    --color-white: #FAF8F1;
    --color-black: #0F0F0F;
    --color-purple: #810CA8;
    --color-orange: #FF4C29;
    --color-brown: #E5BA73;
    --color-card: #DCD7C9;

    /* Fondo hero*/
    --fondo: url(../asset/images/presentacion.gif);

}

/* Tema oscuro */
[tema="dark"] {
    /* Principales */
    --color-fuente: #F0F0F0;
    --color-fondo: #2C3639;
    /* Paleta de colores */
    --color-red: #F45050;
    --color-blue: #4F709C;
    --color-green: #03C988;
    --color-yellow: #F9D949;
    --color-white: #FAF8F1;
    --color-black: #0F0F0F;
    --color-purple: #810CA8;
    --color-orange: #FF4C29;
    --color-brown: #E5BA73;
    --color-card: #DCD7C9;

    /* Fondo hero*/
    --fondo: url(../asset/images/presentacion.gif);
}

/* Tema claro */
[tema="light"] {
    /* Paleta de colores */
    --color-fuente: #000;
    --color-fondo: #FFFFDD;

    /* Colores */
    --color-red: #D21312;
    --color-blue: #4F709C;
    --color-green: #44f0b7;
    --color-yellow: #EAC100;
    --color-white: #0F0F0F;
    --color-black: #FAF8F1;
    --color-purple: #810CA8;
    --color-orange: #FF4C29;
    --color-brown: #E5BA73;
    --color-card: #4F709C;

    /* Fondo hero*/
    --fondo: url(../asset/images/claro.jpg);

}

/* Body */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    /* honeydew */
    color: var(--color-fuente);
    /* Azul negruzco */
    background-color: var(--color-fondo);
    text-decoration: none;
}

button a {
    text-decoration: none;
}

ul {
    list-style: none;
    text-align: start;
}

/* Header */

header {
    position: fixed;
    top: 1em;
    right: 1em;
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-purple);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-white);
    background-image: url(/asset/images/noche.png);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-yellow);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-yellow);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.bg_principal {
    background-image: var(--fondo);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Column */

.flex-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Row */

.flex-row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Cards */

.card {
    min-width: 250px;
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 60px;
    background-color: var(--color-card);
    color: var(--color-black);
}

.card img {
    height: 80px;
    width: 80px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(14, 14, 14, 0.566);
}

.logos {
    background-color: var(--color-black);
    border-radius: 20%;
    padding: 10px;
}

/* Botones */

.btn {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 15%;
    padding: 15px 32px;
    font-size: 16px;
    margin: 5%;
}


.btn:hover {
    background-color: var(--color-fuente);
    color: var(--color-black);
}

/* Footer */

footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--color-white);
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.f-logo {
    height: 5vh;
    background-color: var(--color-black);
    border-radius: 50%;
    padding: 2px;
    margin: 5vw;
}

/* Titulos y textos */

.title-1 {
    font-size: 7vh;
}

.title-2 {
    font-size: 6vh;
}

.title-3 {
    font-size: 5vh;
    text-decoration: double;
}

.title-4 {
    font-size: 4vh;
}

p {
    font-size: 3vh;
}

text {
    font-size: 3vh;
}

/* Estilos */

.bg-blue {
    background-color: var(--color-blue);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-yellow {
    background-color: var(--color-yellow);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-brown {
    background-color: var(--color-brown);
}

.bg-purple {
    background-color: var(--color-purple);
}

.text-white {
    color: var(--color-white);
}

.text-black {
    color: var(--color-black);
}

.text-red {
    color: var(--color-red);
}

.text-purple {
    color: var(--color-purple);
}