/* Body */
body {
    font-family: fantasy;
    list-style: none;
    /* honeydew */
    color: #f0fff0 ;    
    /* Azul negruzco */
    background-color: #18171c;
}

ul{
    list-style: none;
    text-align: start;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    /* Fondo */
    background-image: url(/asset/images/presentacion.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Column */

.flex-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Row */

.flex-row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Cards */

.card {
    min-width: 250px;
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 60px;
    background-color: #e3e562;
}

.card img {
    height: 80px;
    width: 80px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.555);
}

.logos {
    background-color: #000000;
    border-radius: 20%;
    padding: 10px;
}

/* Footer */

footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: #fff8dc;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.f-logo {
    height: 5vh;
    background-color: #000000;
    border-radius: 50%;
    padding: 2px;
    margin: 5vw;
}

/* Titulos y textos */

.title-1 {
    font-size: 7vh;
}

.title-2 {
    font-size: 6vh;
}

.title-3 {
    font-size: 5vh;
    text-decoration: solid;
}

.title-4 {
    font-size: 4vh;
}

p{
    font-size: 3vh;
}

text{
    font-size: 3vh;
}

/* Estilos */

.bg-blue {
    background-color: rgb(58, 107, 253);
    color: black;
}

.bg-black {
    background-color: #3a3a3a;
    color: black;
}

.bg-green {
    background-color: #1abc9c;
    color: black;
}

.bg-white {
    background-color: #ecf0f1;
    color: black;
}

.bg-yellow {
    background-color: rgb(255, 255, 0);
    color: black;
}

.bg-orange {
    background-color: #f4511e;
    color: black;
}

.bg-brown {
    background-color:rgb(185, 113, 41);
    color: black;
}

.bg-purple {
    background-color:rgb(128, 0, 128);
    color: black;
}

.text-white {
    /* ivory */
    color: #fffff0;
}

.text-black {
    /* black */
    color: #000000;
}

.text-red {
    /* crimson */
    color: #dc143c;
}