:root {
    --color-green: #00f7b18a;
    --color-red: #818181;
    --color-button: #fdffff;
    --color-black: #000;
}

/* Body */
body {
    font-family: fantasy;
    color: black;
    background-color: #ffffff86;
}

ul {
    list-style: symbols();
}

/* Header */
header {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    margin: 5px;
}

.logo {
    width: 100px;
    height: 50px;
    margin-left: 50px;
    padding: 2%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-right: 50px;
}

nav ul li {
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li:hover {
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.89);
}

/* Interruptor */

.switch-button {
    display: inline-block;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}

.switch-button .switch-button__label:before {
    transition: .50s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label {
    background-color: var(--color-green);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label:before {
    transform: translateX(2rem);
}

/* Contenedores */

/* Column */

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flex-column div {
    margin: 0.5%;
    padding: 0.5%;
}

/* Row */

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.flex-row div {
    padding-left: 5%;
    padding-right: 5%;
    text-align: start;
}

/* Rorc cards */

.flex-row-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-row-cards div {
    margin: 0.5%;
    padding: 0.5%;
}

/* Banner */

.banner {
    width: 500px;
    height: 300px;
}

.banner-p {
    width: 300px;
    height: 300px;
}

/* Titulos */

.titulos {
    font-size: 60px;
    color: #ff5252;
}

/* Cards */

.card {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    height: 50px;
    width: 50px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.logos {
    width: 15px;
    height: 15px;
    background-color: #00000017;
    border-radius: 2px;
    padding: 5px;
}

/* Footer */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #82e9d4;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

footer ul li {
    margin: 15px;
}

.c-footer {
    font-size: 15px;
}

.f-logo {
    height: 50px;
}

/* Estilos */

.bg-blue {
    background-color: #3498db;
    color: black;
}

.bg-black {
    background-color: #3a3a3a;
    color: black;
}


.bg-green {
    background-color: #1abc9c;
    color: black;
}

.bg-white {
    background-color: #ecf0f1;
    color: black;
}

.bg-yellow {
    background-color: #f4d03f;
    color: black;
}

.bg-orange {
    background-color: #f4511e;
    color: black;
}

.r-flex-star {
    text-align: start;
}

.r-flex-end {
    text-align: end;
}

.r-flex-center {
    text-align: center;
}

@media(max-width: 500px) {
    .banner {
        width: 100%;
        height: 60%;
    }

    .banner-p {
        width: 100%;
        height: 50%;
    }

    .titulos {
        font-size: 30px;
        color: #ff5252;
    }
}