@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap");
/* css general */

:root {
  /* Paleta de colores */
  --naranja: #fba834;
  --azul: #1EA1AA;
  --negro: #222831;
  --gris: #31363f;
  --gris_claro: #707070;
  --verde: #76abae;
  --blanco: #eeeeee;
  --rojo: #ff204e;
  --rojo_oscuro: #a0153e;
  --morado: #5d0e41;
  --azul_oscuro: #00224d;
  --transparente: rgba(238, 238, 238, 0);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--blanco);
}

a {
  text-decoration: none;
  color: var(--negro);
  cursor: pointer;
}

/* Header */

.nav {
  background-color: var(--azul);
  --img1: scale(1);
  --img2: scale(0);
}

.nav:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);
  --clip: inset(0 0 0 0);
}

.nav__container {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "title img";
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.nav__menu {
  grid-area: img;
  position: relative;
  z-index: 10;
  transform: var(--img1);
}

.nav__menu--second {
  transform: var(--img2);
}

.nav__icon {
  width: 30px;
  display: block;
  background-color: var(--blanco);
  padding: 3px;
  border-radius: 5px;
}

.nav__logo {
  width: 200px;
}

.dropdown {
  position: absolute;
  background-color: var(--negro);
  width: 75%;
  max-width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  overflow-y: scroll;
  clip-path: var(--clip, inset(0 0 100% 100%));
  transition: clip-path .5s;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.dropdown__link {
  color: var(--azul);
  padding: 1em .7em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .6rem;
  position: relative;
  background-color: var(--bg, transparent);
  border-radius: 6px;
}

.dropdown__list:has( :checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
  --bg: var(--blanco);
}

.dropdown__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dropdown_logo {
  width: 50px;
  height: 50px;
}

.dropdown__content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: .3s grid-template-rows;
}

.dropdown__sub {
  overflow: hidden;

}

.dropdown__li {
  width: 85%;
  list-style: none;
  margin-left: auto;
}

.dropdown__anchor {
  padding: 1em 0;
  display: block;
  color: var(--blanco);
  text-decoration: none;
}

/* Main */

.container-column {
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.container-column div {
  text-align: center;
  width: 80vw;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-row {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container-row div {
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Slider */

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  width: 400%;
  padding: 0;
  animation: slide 15s infinite;
  list-style: none;
}

.slider li {
  width: 70%;
  height: 100%;
}

.slider img {
  width: 70%;
  max-width: 100%;
  height: 70%;
  max-width: 100%;
  image-resolution: 100;
}

/* Contenido */

.contenido-logo {
  width: 50vw;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenido-logo-cliente {
  width: 100px;
  height: 100px;
  margin: 50px;
}

.contenido-logo-servicios {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenido-logo-prensa {
  width: 70%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenido-logo-multimedia {
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.5s;
}

.contenido-logo-multimedia:hover {
  scale: 1.1;
}

.contenido-logo-contacto {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.contenido-logo-evento {
  width: 70%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  height: 600px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: var(--azul);
}

.card img {
  width: 200px;
  height: 200px;
}

.card h3 {
  color: var(--negro);
}

.card p {
  text-align: justify;
  color: var(--blanco);
}

.card a {
  color: var(--negro);
}

.card:hover {
  scale: 1.1;
  background-color: var(--naranja);
}

/* Inputs */

.input-datos {
  width: 80vw;
  border-color: var(--gris);
  border-radius: 6px;
}

.input-mensaje {
  height: 150px;
  width: 80vw;
  text-align: start;
  border-color: var(--gris);
  border-radius: 6px;
}

.input-texto {
  width: 80%;
}

/* Listas */

.listas {
  list-style: decimal;
}

.listas li {
  padding: 5px;
  text-align: justify;
}

/* Botones */

.btn {
  border-radius: 5px;
  border-color: var(--naranja);
  padding: 10px;
  color: var(--blanco);
  background-color: var(--azul);
}

.btn:hover {
  background-color: var(--verde);
  color: var(--blanco);
  background-color: var (--azul_oscuro);
}

/* Footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--gris);
  color: var(--blanco);
}

.footer div {
  margin: 30px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  padding: 3px;
}

.footer-redes {
  width: 30px;
  height: 30px;
}

.footer-logo {
  width: 200px;
  height: 100px;
}

.footer a {
  color: var(--blanco);
}

/* Preterminados */

.titulo {
  font-size: 300%;
  color: var(--azul);
}

.titulo-listas {
  font-size: 18px;
}

.subtitulos {
  font-size: 200%;
  color: var(--azul);
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitulos-h3 {
  font-size: 150%;
  color: var(--azul);
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-start {
  text-align: start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-end {
  text-align: end;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-justify {
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-negro {
  background-color: var(--negro);
}

.bg-rojo {
  background-color: var(--rojo);
  color: var(--blanco);
}

.bg-rojo:hover {
  background-color: var(--gris);
}

.bg-naranja {
  background-color: var(--naranja);
  color: var(--negro);
}

.bg-naranja:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.bg-azul {
  background-color: var(--azul);
  color: var(--negro);
}

.bg-azul:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.w-100 {
  width: 100vw;
}

.h-100 {
  height: 100vh;
}

.w-75 {
  width: 75vw;
}

.h-75 {
  height: 75vh;
}

.w-50 {
  width: 50vw;
}

.h-50 {
  height: 50vh;
}

.text-negro {
  color: var(--negro);
}

.text-blanco {
  color: var(--blanco);
}

/* @Keyframes */

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

/* @Media Query*/

/* laptops */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Tabletas */
@media (min-width: 481px) and (max-width: 768px) {

  /* Main */
  .slider img {
    height: 200px;
  }

  .card {
    max-width: 90%;
    height: 750px;
  }

  .listas {
    list-style: decimal;
    width: 80vw;
  }

  /* Footer */
}

/* Moviles */
@media (min-width: 320px) and (max-width: 480px) {

  /* Main */

  .card {
    max-width: 90%;
    height: 750px;
  }

  .slider img {
    height: 200px;
  }

  .listas {
    list-style: decimal;
    width: 80vw;
  }

  /* Footer */
}