@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap");
/* css general */

:root {
  /* Paleta de colores */
  /* Paleta de colores */

  /* Fondos */
  --fondo-body: #f7fbff;
  --fondo-header: rgb(70, 84, 90);
  --fondo-footer: rgb(70, 84, 90);

  /* Titulos */
  --titulos: #578E7E;
  --subtitulos: #578E7E;

  /* Textos */
  --Parrafos: #181C14;

  /* Colores */
  --color-rojo: #D21312;
  --color-azul: #4F709C;
  --color-verde: #44f0b7;
  --color-amarillo: #EAC100;
  --color-blanco: #FAF8F1;
  --color-negro: #0F0F0F;
  --color-morado: #810CA8;
  --color-naranja: #FF4C29;
  --color-cafe: #E5BA73;

  /* Card */
  --color-card: #181C14;

  /* Fondo hero*/
  --fondo: url(.......);
  --color-hero-div: #41d9ff3d;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--blanco);
}

a {
  text-decoration: none;
  color: var(--negro);
  cursor: pointer;
}

/* Header */

/* Header */

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: var(--fondo-header);
  color: var(--negro);
}

.header img {
  width: 50px;
  height: 50px;
}

.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header .abrir {
  display: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.header .cerrar {
  display: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.header .nav-links li ul {
  display: none;
  position: absolute;
  border: 1px solid;
  padding: 10px;
}

.header .nav .nav-links li ul li a {
  color: var(--color-blanco);
  text-decoration: none;
}

.header .nav-links li ul a:hover {
  color: var(--color-negro);
}

.header .nav-links li:hover ul {
  display: block;
  color: #000;
}

.header .nav-links li {
  display: inline-block;
  padding: 5px 5px;
  transition: all 0.3s;
}

.header .nav-links li a:hover {
  color: var(--color-verde);
}

.header .btn-header {
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--color-negro);
  background-color: var(--color-verde);
}

.header .btn-header:hover {
  border-radius: 5px;
  color: var(--gris);
  background-color: var(--color-blanco);
}



/* Main */

.container-column {
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.container-column div {
  text-align: center;
  width: 80vw;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-row {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container-row div {
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Slider */

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  width: 400%;
  padding: 0;
  animation: slide 15s infinite;
  list-style: none;
}

.slider li {
  width: 70%;
  height: 100%;
}

.slider img {
  width: 70%;
  max-width: 100%;
  height: 70%;
  max-width: 100%;
  image-resolution: 100;
}

/* Contenido */

.contenido-logo {
  width: 50vw;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenido-logo-cliente {
  width: 100px;
  height: 100px;
  margin: 50px;
}

.contenido-logo-servicios {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenido-logo-prensa {
  width: 70%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenido-logo-multimedia {
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.5s;
}

.contenido-logo-multimedia:hover {
  scale: 1.1;
}

.contenido-logo-contacto {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.contenido-logo-evento {
  width: 70%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  height: 600px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: var(--azul);
}

.card img {
  width: 200px;
  height: 200px;
}

.card h3 {
  color: var(--negro);
}

.card p {
  text-align: justify;
  color: var(--blanco);
}

.card a {
  color: var(--negro);
}

.card:hover {
  scale: 1.1;
  background-color: var(--naranja);
}

/* Inputs */

.input-datos {
  width: 80vw;
  border-color: var(--gris);
  border-radius: 6px;
}

.input-mensaje {
  height: 150px;
  width: 80vw;
  text-align: start;
  border-color: var(--gris);
  border-radius: 6px;
}

.input-texto {
  width: 80%;
}

/* Listas */

.listas {
  list-style: decimal;
}

.listas li {
  padding: 5px;
  text-align: justify;
}

/* Botones */

.btn {
  border-radius: 5px;
  border-color: var(--naranja);
  padding: 10px;
  color: var(--blanco);
  background-color: var(--azul);
}

.btn:hover {
  background-color: var(--verde);
  color: var(--blanco);
  background-color: var (--azul_oscuro);
}

/* Footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--gris);
  color: var(--blanco);
}

.footer div {
  margin: 30px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  padding: 3px;
}

.footer-redes {
  width: 30px;
  height: 30px;
}

.footer-logo {
  width: 200px;
  height: 100px;
}

.footer a {
  color: var(--blanco);
}

/* Preterminados */

.titulo {
  font-size: 300%;
  color: var(--azul);
}

.titulo-listas {
  font-size: 18px;
}

.subtitulos {
  font-size: 200%;
  color: var(--azul);
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitulos-h3 {
  font-size: 150%;
  color: var(--azul);
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-start {
  text-align: start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-end {
  text-align: end;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-justify {
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-negro {
  background-color: var(--negro);
}

.bg-rojo {
  background-color: var(--rojo);
  color: var(--blanco);
}

.bg-rojo:hover {
  background-color: var(--gris);
}

.bg-naranja {
  background-color: var(--naranja);
  color: var(--negro);
}

.bg-naranja:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.bg-azul {
  background-color: var(--azul);
  color: var(--negro);
}

.bg-azul:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.w-100 {
  width: 100vw;
}

.h-100 {
  height: 100vh;
}

.w-75 {
  width: 75vw;
}

.h-75 {
  height: 75vh;
}

.w-50 {
  width: 50vw;
}

.h-50 {
  height: 50vh;
}

.text-negro {
  color: var(--negro);
}

.text-blanco {
  color: var(--blanco);
}

/* @Keyframes */

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

/* @Media Query*/

/* laptops */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Tabletas */
@media (min-width: 481px) and (max-width: 768px) {

  /* Header */

  .header {
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
  }

  .header .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-negro);
    padding: 60px;
    box-shadow: 0 0 0 100vmax #0000007e;
  }

  .header .nav .nav-links {
    display: flex;
    flex-flow: column;
  }

  .header .nav .nav-links li a {
    color: var(--color-blanco);
  }

  .header .nav .nav-links li a:hover {
    color: var(--color-verde);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  body.scroll {
    overflow: hidden;
  }

  .header .cerrar {
    display: block;
  }

  .header .abrir {
    display: block;
  }

  /* Main */
  .slider img {
    height: 200px;
  }

  .card {
    max-width: 90%;
    height: 750px;
  }

  .listas {
    list-style: decimal;
    width: 80vw;
  }

  /* Footer */
}

/* Moviles */
@media (max-width: 480px) {

  /* Header */

  .header {
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
  }

  .header .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-negro);
    padding: 60px;
    box-shadow: 0 0 0 100vmax #0000007e;
  }

  .header .nav .nav-links {
    display: flex;
    flex-flow: column;
  }

  .header .nav .nav-links li a {
    color: var(--color-blanco);
  }

  .header .nav .nav-links li a:hover {
    color: var(--color-verde);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  body.scroll {
    overflow: hidden;
  }

  .header .cerrar {
    display: block;
  }

  .header .abrir {
    display: block;
  }

  /* Main */

  .card {
    max-width: 90%;
    height: 750px;
  }

  .slider img {
    height: 200px;
  }

  .listas {
    list-style: decimal;
    width: 80vw;
  }

  /* Footer */
}